name: Deploy to cPanel
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to cPanel
        uses: pinkasey/cpanel-deploy-action@v1.2.3
        with:
          hostname: ${{ secrets.CPANEL_HOST }}
          repository_root: '/home/owlexdev/public_html/flappyanything'
          branch: main
          cpanel_token: ${{ secrets.CPANEL_TOKEN }}
          cpanel_username: 'owlexdev'
